<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<nav th:insert="fragments.html :: menuFragmnet"></nav>
<div class="formWrapper">
<form method="post" th:object="${person}" id="superForm">
    <div><input type="text" th:field="*{name}" class="specialInput" id="input1" placeholder="Imię"></div>
    <div><input type="text" th:field="*{surname}" placeholder="Nazwisko"></div>
    <div><input type="text" th:field="*{age}" placeholder="Wiek"></div>
    <div><div>Admin: </div><input type="checkbox" th:field="*{admin}"></div>

    <input type="submit" value="OK">
</form>
</div>
</body>
</html>